# Mac OS X files
.DS_Store

# Build artifacts
/bin/
!/bin/.keep
/obj/
!/obj/.keep
/build/
!/build/.keep

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Input files
/inputs/
!/inputs/.keep
